@use "variables" as *;
// @use "placeholders" as *;
// @use "mixins" as *;

body {
  margin: 0;
  padding: 0;
  color: $primary-color;
  box-sizing: border-box;
  font-family: $font-family;
  background-color: $primary-bg-color;
}
p {
  font-size: 16px;
  color: $thirdly-color;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
