@use "variables" as *;
@use "placeholders" as *;

* {
  scrollbar-width: thin;
  scrollbar-color: $secondary-border-color transparent;
}
html {
  font-size: 16px;
}
body,
html {
  margin: 0;
  padding: 0;
  color: $primary-color;
  font-family: $font-family;
  background-color: $primary-bg-color;
  box-sizing: border-box;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  color: $primary-color;
  text-decoration: none;
}

.page-layout {
  max-width: 1350px;
  margin: 24px auto;
  padding: 0 20px;
}
