@use "variables" as *;

//=========================
//* RESPONSIVE *//
//=========================
$breakpoints: (
  desktop: 1400px,
  laptop: 1200px,
  tablet: 964px,
  phone: 665px,
  small-phone: 497px,
);

@mixin respond($bp) {
  @media (max-width: map-get($breakpoints, $bp)) {
    @content;
  }
}

//=========================
//* BUTTON STYLES *//
//=========================
@mixin button($type, $size) {
  // Basic shared button styles
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: $radius-md;
  font-size: $font-size-sm;
  font-weight: 500;
  color: $primary-color;
  cursor: pointer;
  border-color: transparent;
  box-shadow: $primary-shadow;
  transition: $basic-transition;

  &:hover {
    box-shadow: $button-hover-shadow;
  }
  &:disabled {
    background-color: #0f2b20;
    cursor: not-allowed;
    opacity: 0.7;
    box-shadow: none;
  }
  // Type handling
  @if $type == primary {
    background-color: $button-color;
    border: 2px solid transparent;
    &:hover {
      background-color: $primary-bg-color;
      border-color: $button-color;
    }
  } @else if $type == secondary {
    background-color: $secondary-bg-color;
    border: 1px solid $primary-border-color;
    &:hover {
      background-color: $primary-bg-color;
      border-color: $button-color;
    }
  } @else if $type == thirdly {
    background-color: $secondary-bg-color;
    border: 1px solid transparent;
    &:hover {
      background-color: $primary-bg-color;
      border-color: $button-color;
    }
  }

  // Size handling
  @if $size == add-xl {
    padding: 16px 0;
  } @else if $size == checkout {
    padding: 16px 0;
  } @else if $size == cart {
    padding: 13px 20px;
  } @else if $size == add {
    padding: 8px 16px;
  } @else if $size == sort {
    padding: 12px 21px;
  }
}
