@use "variables" as *;

//=========================
//* FLEX UTILITIES *//
//=========================
%shared-flexible {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
%normal-flexible {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
//=========================
//* CARD STYLING *//
//=========================
%product-card-style {
  background-color: $secondary-bg-color;
  border-radius: $radius-lg;
}
