/* ---------- Card Skeleton ---------- */

.sk-card-media {
  aspect-ratio: 4 / 3;
}

.sk-card-content {
  padding: 0 16px 16px;

  > div {
    &:first-child,
    &:nth-child(2) {
      margin-bottom: 8px;
    }

    &:first-child {
      height: 22px;
      width: 60%;
    }

    &:nth-child(2) {
      height: 15px;
      width: 30%;
    }
  }

  .sk-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > div {
      &:first-child {
        height: 22px;
        width: 30%;
        max-width: 60px;
      }

      &:nth-child(2) {
        height: 35px;
        width: 40%;
        max-width: 106px;
      }
    }
  }
}

/* ---------- Product Page Skeleton ---------- */

.sk-product-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  align-items: start;

  .sk-product-media {
    width: 100%;
    aspect-ratio: 4 / 3;
    margin-bottom: 24px;

    app-skeleton-card {
      width: 100%;
      height: 100%;
      border-radius: 12px;
      display: block;
    }
  }

  .sk-product-info {
    display: flex;
    flex-direction: column;

    .sk-title {
      margin-bottom: 8px;
      height: 26px;
      width: 40%;
    }

    .sk-rating {
      margin-bottom: 20px;
      height: 14px;
      width: 45%;
    }

    .sk-price {
      margin-bottom: 20px;
      height: 35px;
      width: 100px;
    }

    .sk-description {
      margin-bottom: 14px;
      display: flex;
      flex-direction: column;

      app-skeleton-card {
        height: 14px;
        margin-bottom: 6px;
        width: 100%;
      }

      app-skeleton-card:last-child {
        width: 85%;
        margin-bottom: 0;
      }
    }

    .sk-actions {
      display: flex;
      gap: 15px;
      margin-bottom: 16px;

      .sk-qty {
        width: 20%;
        height: 45px;
      }

      .sk-button {
        width: 80%;
        height: 45px;
      }
    }

    .sk-accordion {
      margin-bottom: 14px;
      display: flex;
      flex-direction: column;

      app-skeleton-card {
        height: 45px;
        margin-bottom: 10px;
        width: 100%;

        &:first-child {
          height: 150px;
        }
      }
    }
  }
}
