//=========================
//* COLORS *//
//=========================
$primary-color: #f5fdf7;
$secondary-color: #66bb6a;
$thirdly-color: #bfdcc9;
$primary-bg-color: #07120d;
$secondary-bg-color: #0b1f15;
$primary-border-color: #6f8478;
$secondary-border-color: #0f2b20;
$button-color: #137a3f;
$button-hover-color: #0e5e31;
$cart-counter-color: #e0564b;
$delete-color: #e0564b;

//=========================
//* FONTS *//
//=========================
$font-family: "Inter", sans-serif;
$font-size-xl: clamp(1.4rem, 4vw, 1.5rem); // 22px → 24px
$font-size-lg: clamp(1.1rem, 3vw, 1.187rem); // 17.6px → 19px
$font-size-md: clamp(1rem, 2.5vw, 1.125rem); // 16px → 18px
$font-size-sm: clamp(0.85rem, 2vw, 0.875rem); // 13.6px → 14px

//=========================
//* BORDER RADIUS *//
//=========================
$radius-lg: 10px;
$radius-md: 8px;
$radius-sm: 6px;

//=========================
//* TRANSITIONS *//
//=========================
$basic-transition: 0.3s;
$fast-transition: 0.1s;

//=========================
//* SHADOWS *//
//=========================
$primary-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$secondary-shadow: 0px 8px 20px rgba(19, 122, 63, 0.3);
$button-hover-shadow: 0px 0px 15px rgba(19, 122, 63, 0.5);
$text-shadow: 0 0px 5px rgba(255, 255, 255, 0.32);
$delete-hover-shadow: 0px 0px 15px rgba(224, 86, 75, 1);
