//=========================
//* COLORS *\\
//=========================
$primary-color: #f5fdf7;
$secondary-color: #66bb6a;
$thirdly-color: #bfdcc9;
$primary-bg-color: #07120d;
$secondary-bg-color: #0b1f15;
$primary-border-color: #6f8478;
$secondary-border-color: #0f2b20;
$button-color: #137a3f;
$button-hover-color: #0e5e31;
$cart-counter-color: #e0564b;
$delete-color: #e0564b;
//=========================
//* FONTS *\\
//=========================
$font-family: "Inter", sans-serif;
$font-size-xl: 24px;
$font-size-lg: 19px;
$font-size-md: 18px;
$font-size-sm: 14px;
//=========================
//* BORDER RADIUS *\\
//=========================
$radius-lg: 10px;
$radius-md: 8px;
$radius-sm: 6px;
//=========================
//* TRANSITION *\\
//=========================
$basic-transition: 0.3s;
