@use "../../../styles/variables" as *;
@use "../../../styles/placeholders" as *;
@use "../../../styles/mixins" as *;

.filters-section {
  background-color: $secondary-bg-color;
  border-radius: $radius-lg;
  width: 100%;
  padding: 24px;
  h2 {
    margin-bottom: 24px;
    font-size: 20px;
  }
  p {
    margin-bottom: 12px;
  }
  .filter {
    margin-bottom: 24px;
  }
  .input-section {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    label {
      padding-left: 10px;
      font-weight: 300;
      cursor: pointer;
    }
    .custom-radio {
      appearance: none;
      margin: 0;
      width: 20px;
      height: 20px;
      border: 2px solid #0f2b20;
      border-radius: $radius-sm;
      cursor: pointer;
      background-color: #07120d;
      transition: all $basic-transition ease;
      &:checked {
        background-color: #137a3f;
      }
    }
  }
}
