<div class="container">
  <div class="backdrop" (click)="close.emit()"></div>

  <div class="modal">
    <div class="heading">
      <h2>Sign Up</h2>
      <button class="close" (click)="close.emit()">x</button>
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="submitRegister()">
      <label for="name">Name</label>
      <input type="text" formControlName="name" placeholder="Name" id="name" />
      @if(registerForm.get('name')?.touched &&
      registerForm.get('name')?.errors?.['required']){
      <div class="error">Name is required</div>
      }

      <label for="email">Email</label>
      <input
        type="email"
        formControlName="email"
        placeholder="Email"
        id="email"
      />
      @if(registerForm.get('email')?.touched &&
      registerForm.get('email')?.errors?.['required']){
      <div class="error">Email is required</div>
      } @if(registerForm.get('email')?.errors?.['email']){
      <div class="error">Please enter a valid email</div>
      }

      <label for="password">Password</label>
      <input
        type="password"
        formControlName="password"
        placeholder="Password"
        id="password"
      />
      @if(registerForm.get('password')?.touched &&
      registerForm.get('password')?.errors?.['required']){
      <div class="error">Password is required</div>
      } @if(registerForm.get('password')?.errors?.['minlength']){
      <div class="error">Password must be at least 6 characters</div>
      }

      <button [disabled]="registerForm.invalid" type="submit">Register</button>

      @if(registerForm.errors?.['emailExists']){
      <div class="error">This email is already registered</div>
      }
    </form>
  </div>
</div>
