<div class="container">
  <div class="backdrop" (click)="close.emit()"></div>

  <div class="modal">
    <button class="close" (click)="close.emit()">x</button>

    <form [formGroup]="registerForm" (ngSubmit)="checkForm()">
      <label for="name">name</label>
      <input type="text" formControlName="name" placeholder="name" id="name" />
      @if(registerForm.get('name')?.touched
      &&registerForm.get('name')?.errors?.['required']){
      <div>Name is required</div>
      }
      <label for="email">email</label>
      <input
        type="text"
        formControlName="email"
        placeholder="email"
        id="email"
      />
      @if(registerForm.get('email')?.touched
      &&registerForm.get('email')?.errors?.['required'] ){
      <div>email is required</div>
      } @if (registerForm.get('email')?.errors?.['email']) {
      <div>Email is not right</div>
      }
      <label for="password">password</label>
      <input
        type="text"
        formControlName="password"
        placeholder="password"
        id="password"
      />
      @if(registerForm.get('password')?.touched
      &&registerForm.get('password')?.errors?.['required'] ){
      <div>password is required</div>
      } @if(registerForm.get('password')?.errors?.['minlength']){
      <div>password is not enough</div>
      }
      <button [disabled]="registerForm.invalid" type="submit">Register</button>
      @if(registerForm.get('email')?.errors?.['alreadyExists']){
      <div>user is already there</div>
      }
    </form>
  </div>
</div>
