<section class="filters-toggle-section">
  <button class="toggle-filters" (click)="toggleFilters()">
    <img src="icons/filter-icon.svg" alt="" />
    <p>Filters</p>
  </button>
  <div class="sort-toggle-section">
    <button class="dropdown-toggle" (click)="toggleDropdown()">
      {{ selectedSort }}
    </button>

    @if (isOpen) {
    <ul class="dropdown-menu">
      @for (option of sortOptions; track $index) {
      <li
        class="item"
        (click)="selectItem(option)"
        [class.selected]="selectedSort == option"
      >
        {{ option }}
      </li>
      }
    </ul>
    }
  </div>
</section>
