@use "../../../styles/variables" as *;
@use "../../../styles/placeholders" as *;
@use "../../../styles/_mixins.scss" as *;

.toggle-section {
  @extend %shared-flexible;
  font-size: $font-size-sm;
  margin-bottom: 24px;
  .toggle-filters {
    @extend %secondary-button-style;
    @extend %button-filter-style;
    border: none;
  }
  .dropdown {
    position: relative;
    cursor: pointer;
    * {
      border-radius: $radius-md;
    }
    .dropdown-toggle {
      @extend %secondary-button-style;
      @extend %button-filter-style;
      color: $thirdly-color;
      min-width: 163px;
    }
    .dropdown-menu {
      background: $secondary-bg-color;
      position: absolute;
      top: 110%;
      left: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 6px;
      z-index: 99;
      .item {
        padding: 8px;
        color: $thirdly-color;
        transition: $basic-transition;
        &:hover {
          background: $button-color;
        }
      }
    }
  }
}
