@use "../../../styles/variables" as *;
@use "../../../styles/placeholders" as *;
@use "../../../styles/_mixins.scss" as *;

.filters-toggle-section {
  @extend %shared-flexible;
  font-size: $font-size-sm;
  margin-bottom: 24px;
  .toggle-filters {
    @include button(thirdly, sort);
  }
  .sort-toggle-section {
    position: relative;
    cursor: pointer;
    min-width: 163px;
    * {
      border-radius: $radius-md;
    }
    .dropdown-toggle {
      @include button(secondary, sort);
      color: $thirdly-color;
      width: 100%;
    }
    .dropdown-menu {
      background: $secondary-bg-color;
      position: absolute;
      top: 110%;
      left: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 6px;
      text-align: center;
      z-index: 999;
      padding: 5px;
      .item {
        padding: 12px 0;
        color: $thirdly-color;
        border: 2px solid $secondary-bg-color;
        transition: $fast-transition;
        &:hover {
          border-color: $button-color;
          background-color: $primary-bg-color;
        }
        &.selected {
          background-color: $button-color;
        }
      }
    }
  }
  @include respond(small-phone) {
    gap: 5px;
  }
}
