@use "../../styles/variables" as *;
@use "../../styles/placeholders" as *;
@use "../../styles/_mixins.scss" as *;
@import "bootstrap/dist/css/bootstrap.min.css";

.back-btn {
  text-decoration: none;
  color: #bfdcc9;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 24px;
  img {
    margin-right: 8px;
    width: 7.5px;
  }
}
article {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;

  p {
    color: $thirdly-color;
    margin-bottom: 16px;
    line-height: 25.6px;
    font-weight: 300;
  }
  .product-images {
    flex: 1 0 250px;
    .big-image-wrapper {
      width: 100%;
      border-radius: $radius-lg;
      img {
        border-radius: $radius-lg;
        width: 100%;
        object-fit: cover;
      }
    }
    .small-images-wrapper {
      img {
      }
    }
  }
  .product-description {
    flex: 1 0 250px;
    h1 {
      font-size: 32px;
      margin-bottom: 16px;
    }
    .rating-section {
      margin-bottom: 16px;
      img {
        padding-right: 5px;
        width: 20px;
        &:last-of-type {
          margin-right: 7px;
        }
      }
      span {
        font-size: 16px;
        font-weight: 300;
        color: $thirdly-color;
      }
    }
    .price {
      font-size: 36px;
      color: $secondary-color;
      font-weight: 500;
      margin-bottom: 16px;
    }

    .add-product {
      display: flex;
      gap: 16px;
      flex-wrap: wrap;
      .counter {
        display: flex;
        border-radius: 6px;
        button {
          @include button(thirdly, add);
          &:first-child {
            border-radius: 8px 0 0 8px;
          }
          &:last-child {
            border-radius: 0 8px 8px 0;
          }

          box-shadow: none;
        }
        span {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;
          font-size: $font-size-sm;
          font-weight: 500;
          color: $primary-color;
          background-color: $secondary-bg-color;
          padding: 8px 16px;
          cursor: default;
        }
      }
      .add-cart-btn {
        flex-grow: 1;
        @include button(primary, add-xl);
        padding: 16px 0;
      }
    }
    .accordion {
      margin-top: 16px;
      .accordion-item {
        border: none;
        padding: 0 16px;
        background-color: $secondary-bg-color;
        margin-bottom: 12px;
        border-radius: $radius-md;
        box-shadow: $primary-shadow;
        .accordion-header {
          margin: 0;
          padding: 0;
          .accordion-button {
            padding: 0;
            margin: 0;
            padding: 18px 0;
            &:focus {
              box-shadow: none;
            }
            &::after {
              display: none;
            }
          }
        }

        .accordion-collapse {
          margin: 0;
          padding: 0;
          .accordion-body {
            padding: 0 0 16px 0;
            margin: 0;
            color: $thirdly-color;
            line-height: 25.6px;
            font-weight: 300;
          }
        }
      }
    }
  }
}
