<section class="filter-section">
  <h2>Filters</h2>
  <div class="category-filter">
    <h3>Category</h3>
    @for (cat of categories; track $index) {
    <div class="input-section">
      <input
        type="radio"
        class="custom-radio"
        name="categoryFilter"
        [id]="'category-' + cat"
        [value]="cat"
        [checked]="cat === productsService.currentCategory"
        (change)="sendCategoryChange(cat)"
      />
      <label [for]="'category-' + cat">{{ cat }}</label>
    </div>

    }
  </div>
  <div class="price-filter"></div>
  <div class="rating-filter">
    <h3>Rating</h3>
    <div class="input-section">
      <input
        type="radio"
        class="custom-radio"
        name="ratingFilter"
        id="all-rating"
        [checked]="productsService.currentRating === 0"
        (change)="sendRatingChange(0)"
      />
      <label for="all-rating">All Rating</label>
    </div>
    @for (rate of ratings; track $index) {
    <div class="input-section">
      <input
        type="radio"
        class="custom-radio"
        name="ratingFilter"
        [id]="'rating-' + rate"
        [value]="rate"
        [checked]="rate === productsService.currentRating"
        (change)="sendRatingChange(rate)"
      />
      <label [for]="'rating-' + rate"
        >{{ rate }}+ @for (item of rate | stars; track $index) {
        <img src="icons/1-star.svg" alt="" /> }
      </label>
    </div>

    }
  </div>
</section>
