@use "../../../styles/variables" as *;
@use "../../../styles/placeholders" as *;
@use "../../../styles/mixins" as *;

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $secondary-bg-color;
  border-bottom: 1px solid $secondary-border-color;
  box-shadow: $primary-shadow;
  .navbar {
    @extend %shared-flexible;
    width: 100%;
    max-width: 1350px;
    padding: 14px 20px;
    h1 {
      color: $secondary-color;
      font-size: $font-size-xl;
      text-shadow: $secondary-shadow;
      transition: $fast-transition;
    }
    input {
      padding: 13px 20px;
      background-color: $primary-bg-color;
      border: 1px solid $primary-border-color;
      border-radius: $radius-md;
      color: $thirdly-color;
      max-width: 600px;
      flex-grow: 1;
      transition: max-width $basic-transition;
      &::placeholder {
        color: $thirdly-color;
      }
      &:focus {
        outline: none;
        max-width: 700px;
        border-color: $button-color;
      }
    }
    .cart-button {
      @include button(primary, cart);
    }
    @include respond(small-phone) {
      h1 {
        order: 1;
      }
      .cart-button {
        order: 2;
      }
      input {
        order: 3;
      }
    }
  }
}
