@use "../../styles/variables" as *;
@use "../../styles/placeholders" as *;
@use "../../styles/_mixins.scss" as *;

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  gap: 24px;
}
