/* app-skeleton-card.component.scss */
// :host {
//   display: block;
//   width: 100%;
//   height: 100%;
// }

// .skeleton {
//   display: block;
//   width: 100%;
//   height: 100%;
//   border-radius: 12px;
// }
