@use "../../styles/variables" as *;
@use "../../styles/placeholders" as *;
@use "../../styles/_mixins.scss" as *;

.container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 24px;

  .sidebar {
    flex: 1;

    &.open {
      display: inline-block;
    }
    &:not(.open) {
      display: none;
    }
  }

  .controls {
    flex: 4;
  }
}
