@use "../../../styles/variables" as *;
@use "../../../styles/placeholders" as *;
@use "../../../styles/mixins" as *;

.loader-container {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .progress-loader {
    width: 250px;
    background: #0b1f15;
    height: 10px;
    border-radius: 7px;
    overflow: hidden;
    .progress {
      width: 1px;
      height: 10px;
      border-radius: 7px;
      background: #137a3f;
      transition: 0.5s;
      animation: loading_44 1s cubic-bezier(0.4, 1.01, 1, 1) forwards;
    }
    @keyframes loading_44 {
      0% {
        width: 0%;
      }

      100% {
        width: 100%;
      }
    }
  }
}
