@if (productsService.loading){
<app-loader></app-loader>
} @if (!productsService.loading) {
<ul class="product-list">
  @for (item of products(); track $index) {
  <a [routerLink]="['/home', item.id]">
    <li class="product-card">
      <div class="image-wrapper">
        <img [src]="item.image" alt="{{ item.title }}" />
      </div>
      <article class="product-info">
        <h3>{{ item.title }}</h3>

        <section class="rating-section">
          @for (star of (item.rating ?? 0)| stars; track $index) {
          <img src="icons/1-star.svg" alt="" />
          }@if (item.rating ?? 0) {
          <span class="rating-value">{{ item.rating }}</span>
          }
        </section>

        <section class="price-section">
          <span class="price">{{ item.price | currency : "USD" }}</span>
          @if (cartService.isInCart(item.id)()) {
          <div class="counter">
            <app-quantity-counter [product]="item"></app-quantity-counter>
          </div>
          }@else {
          <app-add-to-cart [product]="item"></app-add-to-cart>}
        </section>
      </article>
      @if (item.badge) {
      <div [ngClass]="'badge ' + item.badge">
        {{ item.badge }}
      </div>
      }
    </li></a
  >

  }
</ul>
<div class="products-nav">
  <button
    [class.active]="activePage === 1"
    [class.inactive]="activePage != 1"
    (click)="reorderProducts(1, undefined)"
  >
    1
  </button>
  <button
    [class.active]="activePage === 2"
    [class.inactive]="activePage != 2"
    (click)="reorderProducts(2, 7)"
  >
    2
  </button>
  <button
    [class.active]="activePage === 3"
    [class.inactive]="activePage != 3"
    (click)="reorderProducts(3, 5)"
  >
    3
  </button>
</div>

}
