@if (ProductsService.productsList) {
<ul class="product-list">
  @for (item of ProductsService.productsList; track $index) {
  <a [routerLink]="['/home', item.id]">
    <li class="product-card">
      <div class="image-wrapper">
        <img [src]="item.image" alt="{{ item.title }}" />
      </div>
      <article class="product-info">
        <h2>{{ item.title }}</h2>

        <section class="rating-section">
          @for (star of (item.rating ?? 0)| stars; track $index) {
          <img src="icons/1-star.svg" alt="" />
          }@if (item.rating ?? 0) {
          <span class="rating-value">{{ item.rating }}</span>
          }
        </section>

        <section class="price-section">
          <span class="price">{{ item.price | currency : "USD" }}</span>
          <button>Add to Cart</button>
        </section>
      </article>
      @if (item.badge) {
      <div [ngClass]="'badge ' + item.badge">
        {{ item.badge }}
      </div>
      }
    </li></a
  >

  }
</ul>
<div class="products-nav">
  <button
    [class.active]="activatedPage === 1"
    [class.inactive]="activatedPage != 1"
    (click)="reOrderProducts(1, undefined)"
  >
    1
  </button>
  <button
    [class.active]="activatedPage === 2"
    [class.inactive]="activatedPage != 2"
    (click)="reOrderProducts(2, 7)"
  >
    2
  </button>
  <button
    [class.active]="activatedPage === 3"
    [class.inactive]="activatedPage != 3"
    (click)="reOrderProducts(3, 5)"
  >
    3
  </button>
</div>

}
