@use "../../../styles/variables" as *;
@use "../../../styles/placeholders" as *;
@use "../../../styles/mixins" as *;

.product-list {
  @extend %product-card-style;

  img {
    transition: opacity 0.3s ease;
    &.hidden {
      opacity: 0;
    }
  }
}

.products-nav {
  @extend %normal-flexible;
  gap: 10px;
  margin-top: 30px;
  button {
    @include button(thirdly, add);
  }
  .active {
    background-color: $button-color;
    box-shadow: $button-hover-shadow;
  }
}
