@use "../../../styles/variables" as *;
@use "../../../styles/placeholders" as *;
@use "../../../styles/mixins" as *;

.product-list {
  @extend %product-card-style;
}

.products-nav {
  @extend %normal-flexible;
  gap: 10px;
  // margin-top: 30px;
  margin: 30px 0 60px 0;
  button {
    @include button(thirdly, add);
  }
  .active {
    background-color: $button-color;
    box-shadow: $button-hover-shadow;
  }
}
